<div class="page-content">
  <div class="container">
    <div class="form-title">
      <h2>{{ "forgetPassword.DidYouForgetYourPassword" | translate }}</h2>
      <p class="mb-4">
        {{ "forgetPassword.EnterYourEmail" | translate }}
        <br />
        {{ "forgetPassword.APasswordResetLinkWillBeSent" | translate }}
      </p>
      <img src="/assets/imgs/amico.svg" alt="" srcset="" />
    </div>
    <section class="forgot-pass">
      <!--backButton:beging-->
      <div class=""></div>
      <!--backButton:Ending-->
      <div class="body-size">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <form
              class="form w-100"
              novalidate="novalidate"
              [formGroup]="forgotPasswordForm"
              (ngSubmit)="submit()"
              id="kt_login_password_reset_form"
            >
              <!-- begin::Alert error-->
              <ng-container *ngIf="errorState === errorStates.HasError">
                <div class="mb-lg-15 alert alert-danger">
                  <div class="alert-text font-weight-bold">
                    {{ "forgetPassword.Sorry" | translate }}
                  </div>
                </div>
              </ng-container>
              <!-- end::Alert error-->

              <ng-container *ngIf="errorState === errorStates.NoError">
                <div class="mb-10 bg-light-info p-8 rounded">
                  <!--begin::Body-->
                  <div class="text-info">
                    {{
                      "forgetPassword.SentPasswordResetPleaseCheckYourEmail"
                        | translate
                    }}
                  </div>
                  <!--end::Body-->
                </div>
              </ng-container>

              <!--begin::Form group-->
              <div class="fv-row mb-8">
                <label for="">{{ "forgetPassword.email" | translate }}</label>
                <!-- <label class="form-label fw-bolder text-gray-900 fs-6  my-2">{{'SingUp.Email'|translate}}</label> -->
                <input
                  class="form-control bg-transparent my-4"
                  type="email"
                  formControlName="email"
                  [placeholder]="'forgetPassword.email' | translate"
                  name="email"
                  autocomplete="off"
                  [ngClass]="{
                    'is-invalid': forgotPasswordForm.controls['email'].invalid,
                    'is-valid': forgotPasswordForm.controls['email'].valid
                  }"
                />

                <ng-container
                  [ngTemplateOutlet]="formError"
                  [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: 'Validation.EmailIsRequired' | translate,
                    control: forgotPasswordForm.controls['email']
                  }"
                ></ng-container>
                <ng-container
                  [ngTemplateOutlet]="formError"
                  [ngTemplateOutletContext]="{
                    validation: 'pattern',
                    message: 'Validation.EmailIsInValid' | translate,
                    control: forgotPasswordForm.controls['email']
                  }"
                ></ng-container>
              </div>
              <!--end::Form group-->
              <!--begin::Form group-->

              <!--end::Form group-->
            </form>
          </div>
        </div>
      </div>
      <!--end::Form-->

      <ng-template
        #formError
        let-control="control"
        let-message="message"
        let-validation="validation"
      >
        <ng-container
          *ngIf="
            control.hasError(validation) && (control.dirty || control.touched)
          "
        >
          <div class="fv-plugins-message-container">
            <div class="fv-help-block">
              <span role="alert">{{ message }}</span>
            </div>
          </div>
        </ng-container>
      </ng-template>
    </section>
  </div>
</div>
<div class="form-action one">
  <div class="container">
    <button
      type="submit"
      id="kt_password_reset_submit"
      class="genral-button"
      style="width: 100%"
      (click)="submit()"
    >
      <span class="indicator-label">
        {{ "forgetPassword.SendLink" | translate }}</span
      >
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress">
          {{ "Shared.PleaseWait" | translate }}
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
          ></span>
        </span>
      </ng-container>
    </button>
  </div>
</div>
