<section class="login-page">
  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-7">
          <div class="form-container">
            <div class="form-title">
              <img src="/assets/imgs/zalol/logo.png" role="button" routerLink="/home" alt="" srcset="" />
              <h2>
                {{'SharedFields.ResetYourPassword'|translate}}
                 
              </h2>
              <!-- <p>
                {{ "loginPage.text" | translate }}
              </p> -->
            </div>
            <!--begin::Form-->
            <div class="body-size">
              <form
                class="form w-100 my-5"
                [formGroup]="newPasswordForm"
                novalidate="novalidate"
                id="kt_login_signin_form"
                (ngSubmit)="submit()"
              >
               <!--begin::Form group-->
          <div class="">
            <div class="fv-col-6 mb-8">
              <label for="">{{ 'SharedFields.NewPassword' | translate}}</label>
              <div class="input-group pass-sec mb-5">
                <input
                  class="form-control"
                  [type]="showPassword ? 'text' : 'password'"
                  formControlName="password"
                  [placeholder]="'SharedFields.Password' | translate"
                  autocomplete="off"
                />
                <span class="input-group-text" id="basic-addon1">
                  <i
                    class="toggle-password fa fa-fw fa-eye-slash"
                    [ngClass]="showPassword ? ' fa-eye' : ' fa-eye-slash'"
                    (click)="togglePasswordVisibilty()"
                    class="toggle-password fa fa-fw"
                  ></i>
                </span>
              </div>
              <ng-container
                [ngTemplateOutlet]="formError"
                [ngTemplateOutletContext]="{
                  validation: 'required',
                  message: 'Validation.PasswordIsRequired' | translate,
                  control: newPasswordForm.controls['password']
                }"
              ></ng-container>

              <!-- <ng-container
                [ngTemplateOutlet]="formError"
                [ngTemplateOutletContext]="{
                  validation: 'maxlength',
                  message: 'Validation.PasswordMaxLength' | translate,
                  control: newPasswordForm.controls['password']
                }"
              ></ng-container> -->
              <ng-container
                [ngTemplateOutlet]="formError"
                [ngTemplateOutletContext]="{
                  validation: 'pattern',
                  message: 'Validation.PasswordPattern' | translate,
                  control: newPasswordForm.controls['password']
                }"
              ></ng-container>
            </div>
          </div>
          <!--end::Form group-->

          <!--begin::Form group-->
          <div class="">
            <div class="fv-col-3 mb-8">
              <label for="">{{
                "SharedFields.ConfirmPassword" | translate
              }}</label>
              <div class="input-group mb-5 pass-sec">
                <input
                  class="form-control"
                  [type]="showPasswordConfirm ? 'text' : 'password'"
                  formControlName="passwordConfirm"
                  [placeholder]="'SharedFields.ConfirmPassword' | translate"
                  autocomplete="off"
                />
                <span class="input-group-text" id="basic-addon1">
                  <i
                    class="toggle-password fa fa-fw fa-eye-slash"
                    [ngClass]="
                      showPasswordConfirm ? ' fa-eye' : ' fa-eye-slash'
                    "
                    (click)="togglePasswordConfirmVisibilty()"
                    class="toggle-password fa fa-fw"
                  ></i>
                </span>
              </div>
              <ng-container
                [ngTemplateOutlet]="formError"
                [ngTemplateOutletContext]="{
                  validation: 'required',
                  message: 'Validation.PasswordIsRequired' | translate,
                  control: newPasswordForm.controls['passwordConfirm']
                }"
              ></ng-container>
              <!-- <ng-container
                [ngTemplateOutlet]="formError"
                [ngTemplateOutletContext]="{
                  validation: 'maxlength',
                  message: 'Validation.PasswordMaxLength' | translate,
                  control: newPasswordForm.controls['passwordConfirm']
                }"
              ></ng-container> -->
              <ng-container
                [ngTemplateOutlet]="formError"
                [ngTemplateOutletContext]="{
                  validation: 'pattern',
                  message: 'Validation.PasswordPattern' | translate,
                  control: newPasswordForm.controls['passwordConfirm']
                }"
              ></ng-container>
              <ng-container
                *ngIf="
                  newPasswordForm.controls['passwordConfirm'].errors &&
                  newPasswordForm.controls['passwordConfirm'].errors
                    .ConfirmPassword
                "
              >
                <div class="fv-plugins-message-container">
                  <div class="fv-help-block">
                    {{ "Validation.PasswordMatch" | translate }}
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
                
              </form>
            </div>
            <!--end::Form-->
            <div class="form-action-btn">
              <button
                type="submit"
                id="kt_sign_in_submit"
                class="genral-button"
                (click)="submit()"
              >
                
                <ng-container>
                  <span class="indicator-label"
                    >{{ "SharedFields.save" | translate }}
                  </span>
                </ng-container>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert">
          {{ message }}
        </span>
      </div>
    </div>
  </ng-container>
</ng-template>

































