




  <!--begin::User menu-->
  <div class="app-navbar-item" [ngClass]="itemClass">

    <!--begin::Menu wrapper-->
    <div class="cursor-pointer symbol" [ngClass]="userAvatarClass" data-kt-menu-trigger="hover"
      data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
      <div class="row">
        <div class="col-2">
          <img src="/assets/imgs/user.svg" width="40px" />
        </div>
        <div class="col-10">
          <div class="user-info mx-7">
            <div *ngIf="currentUser">
              {{userName ?? currentUser?.email}}
            </div>
            <div class="user-title" *ngIf="currentUser">
              {{'users.'+currentUser?.roles[0] |translate}}
            </div>

          </div>
        </div>
      </div>


    </div>
    <app-user-inner data-kt-menu="true"></app-user-inner>

    <div ngbDropdown class="btn-group" *ngIf="currentUser?.roles[0] === roles.ThalolCasheir">
      <div class="action-btn" id="dropdownBasic1" ngbDropdownToggle>
        <button>
          <span class="num" *ngIf="messageNo > 0">{{ messageNo>99?'+99': messageNo}}</span>
          <!-- <img class="mx-2 notific-icon" src="/assets/imgs/zalol/notification.svg" alt="" srcset="" /> -->
          <svg width="30" height="30" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8.55664 17.5C8.70293 17.7533 8.91332 17.9637 9.16668 18.11C9.42003 18.2563 9.70743 18.3333 9.99997 18.3333C10.2925 18.3333 10.5799 18.2563 10.8333 18.11C11.0866 17.9637 11.297 17.7533 11.4433 17.5" stroke="#45556C" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M2.71833 12.7717C2.60947 12.8911 2.53763 13.0394 2.51155 13.1988C2.48547 13.3582 2.50627 13.5218 2.57142 13.6696C2.63658 13.8174 2.74328 13.943 2.87855 14.0313C3.01381 14.1196 3.17182 14.1666 3.33333 14.1667H16.6667C16.8282 14.1668 16.9862 14.1199 17.1216 14.0318C17.2569 13.9437 17.3637 13.8182 17.4291 13.6705C17.4944 13.5228 17.5154 13.3593 17.4895 13.1999C17.4637 13.0405 17.392 12.892 17.2833 12.7726C16.175 11.6301 15 10.4159 15 6.66675C15 5.34067 14.4732 4.0689 13.5355 3.13121C12.5979 2.19353 11.3261 1.66675 10 1.66675C8.67392 1.66675 7.40215 2.19353 6.46447 3.13121C5.52679 4.0689 5 5.34067 5 6.66675C5 10.4159 3.82417 11.6301 2.71833 12.7717Z" stroke="#45556C" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

        </button>
      </div>

      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <ul class="option p-0 list-unstyled m-0 px-2">
          <li role="menuitem">
            <div class="d-flex justify-content-between" role="button">
              <div class="title">{{'notificationComponent.Notification'|translate}}</div>
              <div routerLink="/admin/manage-requests" class="all-notification">
                {{'notificationComponent.showAll'|translate}}

              </div>
            </div>
          </li>
          <li class="notify" role="menuitem" *ngFor="let row of allManageNotifications.slice(0, 5)">
            <div role="button" class="d-flex" (click)="openUserMangment(row)">
              <img class="mx-2 notific-icon" src="/assets/imgs/zalol/mercedes.svg" alt="" srcset="" />
              <h3>{{ row.title }} </h3>

              <img class="ml-auto point" src="/assets/imgs/zalol/point.svg" alt="" srcset="" />
            </div>
          </li>

        </ul>
      </div>
    </div>


      <!-- <div class="action-btn" routerLink="/admin/manage-requests">
        <button>
          <span class="num" *ngIf="messageNo > 0">{{ messageNo>99?'+99': messageNo}}</span>
          <img class="mx-2 notific-icon" src="/assets/imgs/zalol/notification.svg" alt="" srcset="" />
        </button>
      </div> -->


    <!--end::Menu wrapper-->
  </div>
  <!--end::User menu-->

  <!--begin::Header menu toggle-->
  <ng-container *ngIf="appHeaderDefaulMenuDisplay">
    <div class="app-navbar-item d-lg-none ms-2 me-n3" title="Show header menu">
      <div class="btn btn-icon btn-active-color-primary w-35px h-35px" id="kt_app_header_menu_toggle">
      </div>
    </div>
  </ng-container>


  <div class="app-navbar-item"  [ngClass]="itemClass"
  *ngIf='this.currentUser?.roles[0] === Constants.AllRoles.ThalolCasheir'>
  <div ngbDropdown class="btn-group">
    <div class="action-btn" id="dropdownBasic2" ngbDropdownToggle>
      <button>
        <div class="d-flex justify-content-between align-items-center px-2 py-2 ">
          <div class="d-flex align-items-center px-2">
            <img src="assets/imgs/zalol/branchHead.svg" width="33px">

            <div class="user-info mx-1">
              <div>
                {{userData?.brand}}
              </div>
              <div class="user-title">
                {{userData?.branch}}
              </div>
            </div>
          </div>
          <i class="fa-solid fa-chevron-down" *ngIf="notActiveBranches?.length > 0"></i>

        </div>
      </button>
    </div>

    <div ngbDropdownMenu aria-labelledby="dropdownBasic2" *ngIf="notActiveBranches?.length > 0">
      <ul class="option p-0 list-unstyled m-0 px-2">
        <label for="name" class="form-label">
          {{"branches.changeBranch" | translate}}</label>
        <li role="menuitem" *ngFor="let branch of notActiveBranches">
          <div role="button" class="py-2 branch" (click)="onItemSelect(branch)" >
            {{branch.name}}
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!--begin::Menu wrapper-->

  <!--end::Menu wrapper-->
</div>
  <!--end::Header menu toggle-->
