<div class="row g-3 dashboard-cards">

  <div class="col-md-3">
    <div class="stat-card blue">
      <div class="card-header">
        <span>Total Visits</span>
        <div class="icon">
          <i class="bi bi-truck"></i>
        </div>
      </div>

      <h3>408</h3>
      <small>0 today visits</small>

      <div class="footer up">
        <i class="bi bi-graph-up"></i>
        <span>0% vs last period</span>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="stat-card orange">
      <div class="card-header">
        <span>Avg Stay Time</span>
        <div class="icon">
          <i class="bi bi-clock"></i>
        </div>
      </div>

      <h3>271 min</h3>
      <small>122 long stay</small>

      <div class="footer down">
        <i class="bi bi-graph-down"></i>
        <span>122% vs last period</span>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="stat-card green">
      <div class="card-header">
        <span>Avg Filling Time</span>
        <div class="icon">
          <i class="bi bi-fire"></i>
        </div>
      </div>

      <h3>Soon</h3>
      <small>Data coming soon</small>

      <div class="footer down">
        <i class="bi bi-graph-down"></i>
        <span>0% vs last period</span>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="stat-card red">
      <div class="card-header">
        <span>Incomplete Records</span>
        <div class="icon">
          <i class="bi bi-exclamation-triangle"></i>
        </div>
      </div>

      <h3>190</h3>
      <small>Missing exit data</small>

      <div class="footer down">
        <i class="bi bi-graph-down"></i>
        <span>190% vs last period</span>
      </div>
    </div>
  </div>

</div>
