<section class="activate-account" style="margin-top: 4rem;">
  <div class="icon">
    <img src="/assets/imgs/succ.svg" alt="success-img" />
  </div>
  <div class="title">
    <h4 class="mb-4">{{ "confirmEmail.accoutActivate" | translate }}</h4>
  </div>
  <div class="content">
    <h5>
      <span>{{ "confirmEmail.PleaseLoginAndEnjoyOurOffers" | translate }}</span>
    </h5>
    <div class="action">
      <button class="" (click)="logIn()">
        {{ "SingUp.SignIn" | translate }}
      </button>
    </div>
  </div>
</section>
