<section class="requests-page" *ngIf="showPage">
  <div class="container">
    <div class="page-title">
      <header>
        <h4>{{ "redeemPointsManager.redeemPointsManager" | translate }}</h4>
      </header>
      <button class="addbutton px-9 py-4"
       (click)="add()">
       <i class="fa-solid fa-arrow-right-arrow-left text-white"></i>
         {{ "redeemPointsManager.addNewRedeem" | translate }}
      </button>
    </div>
    <div class="page-content">
      <article>
        <div>
          <div class="row mt-3">
            <span class="the-search">
              {{'branches.search' |translate}}
            </span>
          </div>
          <div class="row mt-3">
            <div class="col-md-4 col-sm-6 col-12 mt-3 ">
              <ng-multiselect-dropdown [placeholder]="'branches.brand'|translate" [settings]="dropdownSettings"
                [data]="brands" [(ngModel)]="selectedItemsBrand" (onSelect)="getAllRedeemPointsData()"
                (onDeSelect)="getAllRedeemPointsData()">
              </ng-multiselect-dropdown>
            </div>
           </div>
        </div>
        <div class="table-responsive mt-10">
          <!-- begin::Table -->
          <div *ngIf="allRedeemPoints.length === 0" class="d-flex justify-content-center align-items-center flex-column">
            <img style="
                text-align: center;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 10%;
                max-width: 250px;
              " src="assets/imgs/zalol/noDataExchange.svg" />

            <h1 class="titleNoData" style="text-align: center; padding-top: 15px">
              {{ "redeemPointsManager.NotFound" | translate }}
            </h1>
            <button class="addbutton px-9 py-4"
            (click)="add()">
            <i class="fa-solid fa-arrow-right-arrow-left text-white"></i>
              {{ "redeemPointsManager.addNewRedeem" | translate }}
            </button>
          </div>
          <table class="table align-middle table-striped gs-0 gy-4" *ngIf="allRedeemPoints.length > 0">
            <!-- begin::Table head -->
            <thead>
              <tr class="text-center">
                <th class="min-w-95px">{{ "branches.brandname" | translate }}</th>
                <th class="min-w-125px">{{ "redeemPointsManager.redeemPoints" | translate }}</th>
              </tr>
            </thead>
            <!-- end::Table head -->
            <!-- begin::Table body -->

            <tbody>
              <tr class="text-center" *ngFor="let item of allRedeemPoints">
                <td>{{ item.brand??'-' }}</td>
                <td><a (click)="viewDesc(item)" role="button">{{'branches.pressHere'|translate}}</a></td>
              </tr>
            </tbody>
            <!-- end::Table body -->
          </table>
          <div class="pagi-sec">
            <p *ngIf="allRedeemPoints?.length !== 0">
              {{ "users.total" | translate }}:{{ totalCount }}
            </p>
            <ngb-pagination *ngIf="allRedeemPoints?.length !== 0" class="pagination p-0 my-4 d-flex justify-content-center"
              [collectionSize]="totalCount" [(page)]="page" [pageSize]="pageSize" (pageChange)="getAllRedeemPointsData()">
            </ngb-pagination>
          </div>
          <!-- end::Table -->
        </div>
      </article>
    </div>
  </div>
</section>
