.body-size {
  h1 {
    color: #333333;
    font-size: 25px;
    margin-bottom: 30px;
    font-family: "Semibold";
  }

  .small-tit {
    margin-bottom: 30px;
    font-family: "Light";
    font-weight: 100;
    color: #7D7D7D;
    font-size: 18px;
  }

  // .form-control {
  //     border: none;
  //     border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  //     border-radius: 0;
  //     background-color: transparent;
  // }

  // a {
  //   color: #962C80 !important;
  //   font-size: 16px;
  //   font-family: "Regular";
  // }

  // button {
  //   width: 100%;
  //   max-width: 190px;
  //   background: #5F114F;
  //   border-radius: 28px;
  //   border: 1px solid #5F114F;
  //   color: #fff;
  //   padding: 13px;
  //   margin: auto;
  //   margin-bottom: 30px;
  //   font-size: 18px;
  //   font-family: "Regular";
  //   transition: all 0.3s;
  //   line-height: 0;
  //   cursor: pointer;
  //   &:hover {
  //     background-color: transparent;
  //     color: #5F114F;
  //   }
  // }
}

.form-check {
  input[type=checkbox] {
    position: static;
    opacity: 1;
  }


  label {
    margin: 0 10px;
    color: #fff;
    font-size: 16px;
    // font-family: "Regular";

    a {
      color: #962C80 !important;
      font-size: 16px;
      // font-family: "Regular";
      text-decoration: underline;
    }
  }
}

.che {
  margin-top: 2rem;
  margin-bottom: 4rem !important;
}

// .input-group-text {
//   background-color: white;
//   border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
//   border-left: none;
//   border-top: none;
//   border-right: none;
//   border-radius: 0rem;
// }

.was-validated .form-control:invalid,
.form-control.is-invalid {
  background: unset;
}



.page-content {

  // padding-top: 45px;
  // padding-bottom: 50px;
  // background-color: #F0F0F0;
  // background-image: url('/assets/imgs/background.png');
  // background-repeat: no-repeat;
  // background-size: contain;
  // background-position: center right;
  .form {
    margin: 3rem 0 !important;
  }

  .form-title {
    text-align: center;
    margin-bottom: 40px;

    img {
      // width: 123.427px;
      // height: 125.988px;
      width: 190px;
      height: 80px;
      margin-bottom: 20px;
    }

    h2 {
      color: rgba(15, 23, 43, 1);
      font-size: 25px;
      margin-bottom: 14px;
      // font-family: 'bold';
    }

    p {
      color:rgba(113, 113, 130, 1);
      font-family: Inter;
font-weight: 400;
font-size: 16px;
    }
  }

  .form-control {
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    box-shadow: none !important;
    // background: transparent !important;
    background-color: #fff;
    padding: 0.775rem 1rem;
    border-radius: 0.475rem !important;
  }

  .form-action-btn {
    button {
      border-radius: 8px;
      background: rgba(37, 99, 235, 1);
 box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.1);
box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);

      width: 100%;
      border: none;
      height: 44px;
      color: #fff;

    }
  }

  label {
    color: rgba(10, 10, 10, 1);
    margin-bottom: 7px;
font-weight: 500;
font-size: 14px;
    font-size: 15px;
  }

  .pass-sec {
    position: relative;

    .input-group-text {
      position: absolute;
      top: 5px;
      right: 6px;
      border: none;
      background: transparent;
    }
  }

  .register-p {
    text-align: center;
    color: #5D5D5D;
    font-size: 19px;
  }
}

.form-action {
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  padding: 18px;
  text-align: center;

  button {
    margin: 5px;
    cursor: pointer !important;
    color: #fff;
    background: var(--color);
    border-radius: 5px;
    font-size: 16px;
    border: none;
    min-width: 210px;
    line-height: 0;
    padding: 10px;
    min-height: 43px;
  }
}
.login-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-content {
  width: 100%;
}

.row {
  justify-content: center;
}


// .login-page {
//   position: relative;
//   padding-bottom: 90px;
//   min-height: 95vh;

//   .form-action {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//   }
// }

.form-check-label {
  color: #b8b8b8 !important;
}

// .page-content .form-control {
//   border-radius: 5px !important;
//   background: #F1F1F1 !important;
// }


.form-container {
  border-radius: 20px;
  // background: linear-gradient(334deg, rgba(150, 59, 58, 0.00) 2.6%, rgba(246, 240, 240, 0.29) 98.47%);
  // backdrop-filter: blur(25px);
  // background-image: url('/assets/imgs/zalol/blur.svg');
  padding: 5%;
  background-color: #fff;
}

// .input-group-text {
//   i {
//     color: #b8b8b8;
//   }
// }
.lang-switch {
  cursor: pointer;
  font-weight: 500;
  color: rgba(54, 65, 83, 1);
  border: 1px solid rgba(209, 213, 220, 1);
border-radius: 10px;
padding: 12px;
gap: 8px;
font-size: 14px;


  .lang-text {
    font-size: 14px;
  }

  &:hover {
    opacity: 0.7;
  }
}


.logo
{  margin: auto;
}
.custom-input {
    border: 1px solid rgba(226, 232, 240, 1);
    background-color: rgba(248, 250, 252, 1);
    border-radius: 8px;
  .input-group-text {
    font-family: Inter;
font-weight: 400;
font-size: 14px;
color: rgba(113, 113, 130, 1);
border: none !important;
border-radius: 0 !important;


  }



  input
{
  border: none !important;
  outline: none;
  width: 85%;
  border: none !important;
  background-color: transparent !important;
  color: rgba(113, 113, 130, 1);
}

.password_input
{
  width: 80%;

  @media (max-width:1350px) {
  width: 75%;
  }

    @media (max-width:1200px) {
  width: 70%;
  }
      @media (max-width:992px) {
  width: 75%;
  }

       @media (max-width:400px) {
  width: 70%;
  }
}
  .form-control {
    border-left: 0;
  }
}

.input-group
{
.forget_btn
  {

    a
    {
    color: rgba(21, 93, 252, 1) !important;
    }
  }
}

.Dont_account
{
  h5
  {
font-family: Inter;
font-weight: 400;
font-size: 14px;
text-align: center;
color: rgba(255, 255, 255, 1);
span
{
color: rgba(208, 223, 255, 1);
font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 14px;
text-align: center;

}
  }
}
